<!doctype html>
<html lang="en" ng-app="folks" ng-strict-di>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Folks Chat</title>
    <meta name="description" content="Simple Chat application with folksonomy elements">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- endinject -->
  </head>

  <body ng-controller='HomeController as vm' class="ng-cloak">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" ng-click="vm.navbarCollapsed = !vm.navbarCollapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Folks Chat</a>
          </div>
          <div class="navbar-collapse collapse" uib-collapse="vm.navbarCollapsed">
            <span class="navbar-right">
              <button class="btn btn-default navbar-btn" ng-if="vm.isLoggedIn()" type="button" ng-click="vm.logout()">Logout</button>
            </span>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>
      <fk-toast></fk-toast>
      <div ng-if="!vm.isLoggedIn()">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <uib-accordion>
              <uib-accordion-group heading="Faça seu login" is-open="true">
                <form accept-charset="UTF-8" role="form" ng-submit="vm.login()" name="loginForm">
                  <fieldset>
                    <div ng-class="{'form-group': true, 'has-error': loginForm.username.$error.required && loginForm.username.$touched}">
                      <input class="form-control" name="username" type="text" ng-model="vm.username" placeholder="Username" required>
                    </div>
                    <div ng-class="{'form-group': true, 'has-error': loginForm.password.$error.required && loginForm.password.$touched}">
                      <input class="form-control" name="password" type="password" ng-model="vm.password" placeholder="Password" required>
                    </div>
                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" ng-disabled="loginForm.$invalid">
                  </fieldset>
                </form>
              </uib-accordion-group>
              <uib-accordion-group heading="Ou crie um novo usuário" is-open="false">
                <form accept-charset="UTF-8" role="form" ng-submit="vm.create()" name="createForm">
                  <fieldset>
                    <div ng-class="{'form-group': true, 'has-error': createForm.username.$error.required && createForm.username.$touched}">
                      <input class="form-control" name="username" type="text" ng-model="vm.username" placeholder="Username" required>
                    </div>
                    <div ng-class="{'form-group': true, 'has-error': createForm.fullname.$error.required && createForm.fullname.$touched}">
                      <input class="form-control" name="fullname" type="text" ng-model="vm.fullname" placeholder="Fullname" required>
                    </div>
                    <div ng-class="{'form-group': true, 'has-error': createForm.password.$error.required && createForm.password.$touched}">
                      <input class="form-control" name="password" type="password" ng-model="vm.password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="text-center">Deposite uma imagem aqui</h4>
                        </div>
                        <div class="panel-body">
                          <canvas fk-drop-image fk-drop-image-model="vm.image" width="128" height="128" class="center-block"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input class="btn btn-lg btn-success btn-block" type="submit" value="Criar" ng-disabled="createForm.$invalid">
                    </div>
                  </fieldset>
                </form>
              </uib-accordion-group>
            </uib-accordion>
          </div>
        </div>
      </div>
      <div ng-view></div>
    </div>
    <!-- inject:js -->
    <script src="static/js/app.js"></script>
    <!-- endinject -->
  </body>

</html>
