<div class="row">
  <div class="col-md-3">
    <div fk-user-panel fk-user-panel-model="vm.user"></div>
    <div fk-participants-panel fk-participants-panel-model="vm.group.participants"></div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>{{::vm.group.groupname}}</h4>
          </div>
          <div class="panel-body scrollable-item">
            <ul class="media-list">
              <li ng-repeat="message in vm.messages" class="media">
                <div class="media-left">
                  <img class="media-object" ng-src="{{::message.user.image}}" alt="User photo" width="64" height="64" />
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{::message.user.fullname}}<small> - {{::message.user.username}}</small></h4>
                  {{::message.message}}
                </div>
              </li>
              <li ng-if="vm.messages.length == 0">
                <h4 class="text-center">Não há mensagens.</h4>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Diga alguma coisa..." ng-model="vm.text">
              <span class="input-group-addon" ng-click="vm.send()">Enviar</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Hashtags</h4>
          </div>
            <div class="list-group scrollable-item">
              <a ng-repeat="tag in vm.tags track by $index" ng-class="{'list-group-item': true, 'active': vm.tagIndex == $index || vm.tagIndex == -1 && tag == '#todas'}" ng-click="vm.selectTag(tag, $index)">{{tag}}</a>
              <a ng-if="vm.tags.length == 0" class="list-group-item"><h4 class="text-center">Não há Hashtags.</h4></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
