<div class="row">
  <div class="col-md-3">
    <div fk-user-panel fk-user-panel-model='vm.user'></div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Criar grupo</h4>
          </div>
          <div class="panel-body">
            <form accept-charset="UTF-8" role="form" ng-submit="vm.createGroup()" name="createForm">
              <fieldset>
                <div ng-class="{'form-group': true, 'has-error': createForm.groupname.$error.required && createForm.groupname.$touched}">
                  <input class="form-control" name="groupname" type="text" ng-model="vm.groupname" placeholder="Groupname" required/>
                </div>
                <div ng-class="{'form-group': true, 'has-error': createForm.description.$error.required && createForm.description.$touched}">
                  <textarea class="form-control" name="description" ng-model="vm.description" placeholder="Description" required></textarea>
                </div>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Criar grupo" ng-disabled="createForm.$invalid" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div fk-participants-panel fk-participants-panel-model="vm.participants"></div>
      </div>
    </div>
  </div>
</div>
