<div class="row">
  <div class="col-md-3">
    <div fk-user-panel fk-user-panel-model="vm.user"></div>
    <div class="panel panel-default">
      <div ng-if="vm.isParticipant()">
          <a type="button" href="/chat/{{::vm.group.id}}" class="btn btn-default btn-block">Entrar no chat</a>
      </div>
      <div ng-if="vm.isApplicant()">
        <button type="button" class="btn btn-default btn-block">Aguarde confirmação do criador</button>
      </div>
      <div ng-if="!vm.isParticipant() && !vm.isApplicant()">
        <button type="button" class="btn btn-default btn-block" ng-click="vm.insertApplicant(vm.user)">Solicitar entrada no grupo</button>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>{{::vm.group.groupname}}</h4>
          </div>
          <div class="panel-body scrollable-item">{{::vm.group.description}}</div>
        </div>
        <div ng-if="vm.isCreator()">
        <div class="panel panel-default">
          <div class="panel-heading">
            <form accept-charset="UTF-8" role="form" name="searchForm">
              <fieldset>
                <div class="from-group">
                  <div class="input-group">
                    <span class="input-group-addon">Usuários solicitantes</span>
                    <input type="text" class="form-control" placeholder="Procurar..." ng-init="searchfield.fullname = ''" ng-model="searchfield.fullname" uib-tooltip="{{::vm.tooltips.searchfield}}" tooltip-trigger="mouseenter" tooltip-placement="top"/>
                  </div>
                </div>
              <fieldset>
            </form>
          </div>
          <div class="panel-body scrollable-item">
            <ul class="media-list">
              <li ng-repeat="user in vm.group.applicants | filter:searchfield as applicants" class="media">
                <div class="media-left">
                  <img class="media-object" ng-src="{{::user.image}}" alt="User photo" width="64" height="64" />
                </div>
                <div class="media-body">
                  <h4>{{::user.fullname}}<small> - {{::user.username}}</small></h4>
                  <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.insertParticipant(user)">Adicionar usuário</button>
                </div>
              </li>
              <li ng-if="applicants.length == 0 && searchfield.fullname.length != 0">
                <h4 class="text-center">Não foram encontrados usuários solicitantes</h4>
              </li>
              <li ng-if="applicants.length == 0 && searchfield.fullname.length == 0">
                <h4 class="text-center">Não existem usuários solicitantes</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Criador</h4>
          </div>
          <div class="panel-body">
            <ul class="media-list">
              <li class="media">
                <div class="media-left media-middle">
                  <img class="media-object" ng-src="{{::vm.group.creator.image}}" alt="User photo" width="64" height="64" />
                </div>
                <div class="media-body">
                  <h4>{{::vm.group.creator.fullname}}<small> - {{::vm.group.creator.username}}</small></h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div fk-participants-panel fk-participants-panel-model="vm.group.participants"></div>
      </div>
    </div>
  </div>
</div>
