<div class="row">
  <div class="col-md-3">
    <div fk-user-panel fk-user-panel-model='vm.user'></div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group">
          <a href="/group" type="button" class="btn btn-default input-group-addon" uib-tooltip="{{::vm.tooltips.newgroup}}" tooltip-trigger="mouseenter" tooltip-placement="right">Novo Grupo</a>
          <input type="text" class="form-control" placeholder="Procurar..." uib-tooltip="{{::vm.tooltips.searchfield}}" tooltip-trigger="mouseenter" tooltip-placement="top" ng-init="searchfield.groupname = ''"  ng-model="searchfield.groupname" ng-change="vm.clear(searchfield.groupname)"/>
          <span class="btn btn-default input-group-addon" uib-tooltip="{{::vm.tooltips.searchicon}}" tooltip-trigger="mouseenter" tooltip-placement="left" ng-click="vm.getGroups(searchfield.groupname)"><i class="glyphicon glyphicon-search"></i></span>
        </div>
      </div>
      <ul class="list-group scrollable-list">
        <a ng-repeat="group in vm.groups | fallback:searchfield:vm.groupsfound as groups" href="/group/{{::group.id}}" class="list-group-item" uib-tooltip="{{::vm.tooltips.groupinfo}}" tooltip-trigger="mouseenter" tooltip-placement="top">
          <h4 class="list-group-item-text">{{::group.groupname}}<small> - {{::group.creator.username}}</small></h4>
          <p class="list-group-item-text scrollable-item">{{::group.description}}</p>
        </a>
        <li class="list-group-item" ng-if="groups.length == 0 && searchfield.groupname.length != 0">
          <h4 class="text-center">Nenhum grupo encontrado. Experimente clicar no botão de procurar</h4>
        </li>
        <li class="list-group-item" ng-if="vm.groups.length == 0 && searchfield.groupname == 0">
          <h4 class="text-center">Você não faz parte de nenhum grupo</h4>
        </li>
      </ul>
    </div>
  </div>
</div>
